.x-fa.color-green {
    color: green;
}

.x-fa.color-blue {
    color: #5fa2dd;
}

.x-fa.color-red {
    color: red;
}

.video-js .vjs-time-control {
    display: block;
}
.video-js .vjs-remaining-time {
    display: none;
}